<h1><%= @link.title %></h1>
<br>
<h3><%= @link.url %></h3>
<h3><%= @link.text %></h3>


<h3>All Comments</h3>

<% comments = @link.comments %>
<% root_comments = comments.select {|comment| comment.parent_comment_id = 0}%>
<% root_comments.each do |root| %>
  <%= raw recursive_comments(root, @link.id) %>
<% end %>



<%= link_to "Back to Current Sub", sub_url(@sub) %>
<%= link_to "Back to Subs", subs_url %>
