<h1><%= @post.title %></h1>
<h3><%= @post.body %></h3>

<h3>All Tags</h3>

<ul>
<% @post.tags.each do |tag| %>
	<li><%= tag.name %>
		<%= button_to "Remove Tag", tag_url(tag), method: :delete %></li>
<% end %>

</ul>

<h3>Add Tags</h3>

<form action="<%= post_tags_url(@post) %>" method="POST">
<input type="hidden"
name="authenticity_token"
value="<%= form_authenticity_token%>"
>

<label>Tag Name
	<input type="text" name="tag[name]">
</label>

<input type="submit" value="Add Tag">
</form>

<%= link_to "Back to Posts", posts_url %>
<%= link_to "Edit Post", edit_post_url %>