<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>
		<div class="label label-info"> Signed in as <%= current_user.username%></div>
				<%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-danger", style: "float:right"%>
				<br><br>
	<% else %>
	  <%= link_to "Sign In", new_session_url, class: "btn btn-success"%>
		<%= link_to "Sign Up", new_user_url, class: "btn btn-primary"%>
	<% end %>

   <% unless flash[:errors].nil? %>
		  <div class="alert alert-danger"><%= flash[:errors].join(",")%> </div>
	 <% end %>


   <% unless flash[:notice].nil? %>
		  <div class="alert alert-success"><%= flash[:notice].join(",")%> </div>
	 <% end %>
<%= yield %>

</body>
</html>
