<h1 class="jumbotron"><%= @sub.name %></h1>

<ul>
	<% @sub.links.each do |link| %>
		<li>
			Title: <%= link_to link.title, link_url(link, sub_id: @sub.id) %>
			<br>
			<%= link_to("Edit Link", edit_link_url(link, sub_id: @sub.id)) if is_moderator?(@sub)%>
			<br>
			<%= link_to("Destroy Link", link_url(link), method: :delete) if is_moderator?(@sub)%>
		</li>
	<% end %>
</ul>


<%= link_to "Add Link", new_link_url(sub_id: @sub.id)%>
<br>
<%= link_to "Back to Subs", subs_url %>